* {
  font-family: "Raleway", "Aria", sans-serif;
}
hr {
  width: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/iron-throne.jpg");
  background-position: center;
  color: azure;
}
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 300px; */
  /* height: 40%; */
  background-color: rgb(36, 36, 36);
  /* position: relative; */
  align-items: center;
}
.img-container {
  /* width: 150px;
  height: 150px; */
  /* width: 100%; */
  display: flex;
  justify-content: center;

  position: relative;
}
.profile-image {
  width: 150px;
  height: 150px;
  border: 3px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: -75px;
}

.avatar-image {
  /* display: block; */
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  /* position: absolute;
  top: -75px; */
}
.user-description {
  margin-top: 75px;
}
.user-name {
  color: azure;
  text-transform: capitalize;
}
.user-position {
  color: azure;
}
.user-location {
}
.followers-images {
  display: flex;
  justify-content: center;
}
.follower-image {
  flex-wrap: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.follower-image > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  /* max-width: 100%; */
}
.icons {
  display: flex;
  justify-content: center;
}
.icons > div > img {
  width: 50px;
  object-fit: cover;
  object-position: center;
}
.link {
  display: block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.facebook {
  background-image: url("../icons/facebook.svg");
}
.twitter {
  background-image: url("../icons/twitter.svg");
}
.instagram {
  background-image: url("../icons/instagram.svg");
}
.telegram {
  background-image: url("../icons/telegram.svg");
}
